<h1>Market Order Book</h1>
<div style="width: 90%; max-width: 1200px; margin: 20px auto;">
    <canvas id="orderBookChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const rawData = {{{marketData}}};
    
    //todo: add chart
</script>